@page
@using RazorPagesCadastro.Models;
@model RazorPagesCadastro.Pages.StudentModel
@{
    ViewData["Title"] = "Aluno";
}

<div class="mb3">
    <h1 class="display-4 text-center">Cadastro de Aluno</h1>

    <form method="post">
        <label class="form-label">Id</label>
        <input type="number" name="id" class="form-control w-50 p-3"/>

        <label class="form-label">Nome</label>
        <input type="text" name="firstName" class="form-control w-50 p-3"/>

        <label class="form-label">Sobrenome</label>
        <input type="text" name="lastName" class="form-control w-50 p-3"/>

        <Série class="form-label">Série</Série>
        <input type="text" name="grade" class="form-control w-50 p-3"/>

        <button type="submit">Adicionar</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Série</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Student student in Model.Students)
            {
                <tr>
                    <td>
                        @student.Id
                    </td>

                    <td>
                        @student.FirstName
                    </td>

                    <td>
                        @student.LastName
                    </td>

                    <td>
                        @student.Grade
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>