@page
@using RazorPagesCadastro.Models;
@model RazorPagesCadastro.Pages.TeacherModel
@{
    ViewData["Title"] = "Professor";
}

<div class="mb3">
    <h1 class="display-4 text-center">Cadastro de Professor</h1>

    <form method="post">
        <label class="form-label">Id</label>
        <input type="number" name="id" class="form-control w-50 p-3"/>

        <label class="form-label">Nome</label>
        <input type="text" name="firstName" class="form-control w-50 p-3"/>

        <label class="form-label">Sobrenome</label>
        <input type="text" name="lastName" class="form-control w-50 p-3"/>

        <label class="form-label">Matéria</label>
        <input type="text" name="subject" class="form-control w-50 p-3"/>

        <button type="submit">Adicionar</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Matéria</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Teacher teacher in Model.Teachers)
            {
                <tr>
                    <td>
                        @teacher.Id
                    </td>

                    <td>
                        @teacher.FirstName
                    </td>

                    <td>
                        @teacher.LastName
                    </td>

                    <td>
                        @teacher.Subject
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

